In [ ]:
import pandas as pd
import numpy as np

#  skema dataset-nya seperti berikut: 
kolomFitur_X_plus_Target_Y = ['usia','berat','tinggi','leher', 'dada', 'perut', 'pinggul','paha','lutut', 'pk','bisep','lb','pt','lemak']

# Interval atau Variasi nilai fitur
nilaiFitur_usia = [22, 81]
nilaiFitur_berat = [118.5, 363.15]
nilaiFitur_tinggi = [29.5, 77.75]
nilaiFitur_leher = [31.1, 51.2]
nilaiFitur_dada = [79.3, 136.2]
nilaiFitur_perut =[69.4, 148.1]
nilaiFitur_pinggul = [85, 147.7]
nilaiFitur_paha = [47.2, 87.3]
nilaiFitur_lutut = [33, 49.1]
nilaiFitur_pk = [ 19.1, 33.9]
nilaiFitur_bisep = [24.8, 45]
nilaiFitur_lb = [21, 34.9]
nilaiFitur_pt = [15.8, 21.4]
labelTargetY = [0, 47.5]
 
# set bykData = 3*np.power(10,7)
bykData = 10000000
bykFitur = len(kolomFitur_X_plus_Target_Y)-1

print('Banyak Data = ', bykData)
print('Banyak Fitur = ', bykFitur)

# generate isi dataset
content_dataGenerate = np.array([np.arange(bykData)]*(bykFitur+1)).T
df_gen = pd.DataFrame(content_dataGenerate, columns=kolomFitur_X_plus_Target_Y)

# set secara random nilai Fitur untuk generate data
df_gen ['usia'] = np.random.randint(nilaiFitur_usia[0],nilaiFitur_usia[1], df_gen.shape[0])
df_gen ['berat'] = np.random.randint(nilaiFitur_berat[0],nilaiFitur_berat[1], df_gen.shape[0])
df_gen ['tinggi'] = np.random.randint(nilaiFitur_tinggi[0],nilaiFitur_tinggi[1], df_gen.shape[0])
df_gen ['leher'] = np.random.randint(nilaiFitur_leher[0],nilaiFitur_leher[1], df_gen.shape[0])
df_gen ['dada'] = np.random.randint(nilaiFitur_dada[0],nilaiFitur_dada[1], df_gen.shape[0])
df_gen ['perut'] = np.random.randint(nilaiFitur_perut[0],nilaiFitur_perut[1], df_gen.shape[0])
df_gen ['pinggul'] = np.random.randint(nilaiFitur_pinggul[0],nilaiFitur_pinggul[1], df_gen.shape[0])
df_gen ['paha'] = np.random.randint(nilaiFitur_paha[0],nilaiFitur_paha[1], df_gen.shape[0])
df_gen ['lutut'] = np.random.randint(nilaiFitur_lutut[0],nilaiFitur_lutut[1], df_gen.shape[0])
df_gen ['pk'] = np.random.randint(nilaiFitur_pk[0],nilaiFitur_pk[1], df_gen.shape[0])
df_gen ['bisep'] = np.random.randint(nilaiFitur_bisep[0],nilaiFitur_bisep[1], df_gen.shape[0])
df_gen ['lb'] = np.random.randint(nilaiFitur_lb[0],nilaiFitur_lb[1], df_gen.shape[0])
df_gen ['pt'] = np.random.randint(nilaiFitur_pt[0],nilaiFitur_pt[1], df_gen.shape[0])
df_gen ['lemak'] = np.random.randint(labelTargetY[0],labelTargetY[1], df_gen.shape[0])

# save dataframe generate ke *.csv
file_name_data_generate = 'Data_Generate_Klas.csv'
df_gen.to_csv(file_name_data_generate, encoding='utf-8', index=False)

# read file *.csv dan tampilkan
data_generate = pd.read_csv(file_name_data_generate)

# Menampilkan data
print('\nMenampilkan hasil generate dataset:')
display(data_generate)

Banyak Data =  10000000
Banyak Fitur =  13

Menampilkan hasil generate dataset:

         usia  berat  tinggi  leher  dada  ...  pk  bisep  lb  pt  lemak
0          63    177      41     48   104  ...  29     35  23  17     29
1          53    223      44     46   108  ...  30     24  29  18      1
2          45    256      64     43    94  ...  23     30  26  15      3
3          70    271      50     34    84  ...  20     32  27  17     26
4          70    265      29     43   100  ...  21     26  27  16      1
...       ...    ...     ...    ...   ...  ...  ..    ...  ..  ..    ...
9999995    39    187      52     50   107  ...  21     30  31  18      0
9999996    40    235      37     38   119  ...  32     33  23  16     37
9999997    34    242      56     37   132  ...  28     33  33  16     35
9999998    77    139      42     50   122  ...  24     24  23  20     28
9999999    74    337      71     33   110  ...  32     28  26  20     44

[10000000 rows x 14 columns]